<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="io.github.zhiweicoding.csw.dao.mysql.ImgDao">

    <select id="qLike" resultType="io.github.zhiweicoding.csw.models.ImgBean">
        select
        t.*
        from t_img t,t_menu tm,t_book tb
        <where>
            and tb.factory_id=#{fId}
            and t.menu_id=tm.menu_id
            and tb.book_id=tm.book_id
            <if test="ms!=null">
                <foreach open=" and ( " close=" ) " collection="ms" item="m" index="index" separator="or">
                    t.img_tag like concat('%',#{m},'%')
                    or
                    tb.book_author like concat('%',#{m},'%')
                    or
                    tm.menu_name like concat('%',#{m},'%')
                </foreach>
            </if>
            and t.is_delete=0
            and tm.is_delete=0
            and tb.is_delete=0
        </where>
        order by tm.menu_score desc
    </select>

    <select id="qSearch" resultType="io.github.zhiweicoding.csw.models.ImgBean">
        select
        t.*
        from t_img t,t_menu tm,t_book tb
        <where>
            and tb.factory_id=#{fId}
            and t.menu_id=tm.menu_id
            and tb.book_id=tm.book_id
            <if test="ms!=null">
                <foreach open=" and ( " close=" ) " collection="ms" item="m" index="index" separator="or">
                    t.img_tag like concat('%',#{m},'%')
                </foreach>
            </if>
            <if test="author!=null">
                and tb.book_author like concat('%',#{author},'%')
            </if>
            <if test="title!=null">
                and tm.menu_name like concat('%',#{title},'%')
            </if>
            <if test="end!=0">
                and tb.book_year&lt;=#{end}
            </if>
            <if test="start!=0">
                and tb.book_year>=#{start}
            </if>
            and t.is_delete=0
            and tm.is_delete=0
            and tb.is_delete=0
        </where>
        order by tm.menu_score desc
    </select>

</mapper>